{% extends 'base.html.twig' %}

{% block title %}Ajouter une catégorie!{% endblock %}

{% block body %}

<h2>Ajouter une catégorie</h2>
{{ form_start(form) }}
    {{ form_row(form.name) }}
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
{% endblock %}
