<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
</head>

<body>
    <header>{% include 'navbar.html.twig' %}</header>
    {% for message in app.flashes('notice') %}
        <div class="flash-notice alert alert-success text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2><i class="fas fa-check-circle mr-2"></i>{{ message }}</h2>
        </div>
    {% endfor %}
    {% for message in app.flashes('sup') %}
        <div class="flash-notice alert alert-danger text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2><i class="fas fa-check-circle mr-2"></i>{{ message }}</h2>
        </div>
    {% endfor %}
    {% block body %}{% endblock %}
    
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
</body>
</html>